<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Chicago</key>
        <dict>
            <key>base</key>
            <string>cmc stations</string>
            <key>clouds</key>
            <dict>
                <key>all</key>
                <integer>20</integer>
            </dict>
            <key>cod</key>
            
            <integer>200</integer>
            <key>coord</key>
            <dict>
                <key>lat</key>
                <real>41.850000000000001</real>
                <key>lon</key>
                <real>-87.650000000000006</real>
            </dict>
            <key>dt</key>
            <integer>1412158500</integer>
            <key>id</key>
            <integer>4887398</integer>
            <key>main</key>
            <dict>
                <key>humidity</key>
                <integer>76</integer>
                <key>pressure</key>
                <integer>1016</integer>
                <key>temp</key>
                <real>283.47000000000003</real>
                <key>temp_max</key>
                <real>287.14999999999998</real>
                <key>temp_min</key>
                <real>281.14999999999998</real>
            </dict>
            <key>name</key>
            <string>Chicago</string>
            <key>sys</key>
            <dict>
                <key>country</key>
                <string>US</string>
                <key>id</key>
                <integer>961</integer>
                <key>message</key>
                <real>0.098199999999999996</real>
                <key>sunrise</key>
                <integer>1412164093</integer>
                <key>sunset</key>
                <integer>1412206311</integer>
                <key>type</key>
                <integer>1</integer>
            </dict>
            <key>weather</key>
            <array>
                <dict>
                    <key>description</key>
                    <string>few clouds</string>
                    <key>icon</key>
                    <string>02n</string>
                    <key>id</key>
                    <integer>801</integer>
                    <key>main</key>
                    <string>Clouds</string>
                </dict>
            </array>
            <key>wind</key>
            <dict>
                <key>deg</key>
                <integer>120</integer>
                <key>speed</key>
                <real>3.1000000000000001</real>
            </dict>
        </dict>
        <key>London</key>
        <dict>
            <key>base</key>
            <string>cmc stations</string>
            <key>clouds</key>
            <dict>
                <key>all</key>
                <integer>75</integer>
            </dict>
            <key>cod</key>
            <integer>200</integer>
            <key>coord</key>
            <dict>
                <key>lat</key>
                <real>51.509999999999998</real>
                <key>lon</key>
                <real>-0.13</real>
            </dict>
            <key>dt</key>
            <integer>1412159541</integer>
            <key>id</key>
            <integer>2643743</integer>
            <key>main</key>
            <dict>
                <key>humidity</key>
                <integer>77</integer>
                <key>pressure</key>
                <integer>1025</integer>
                <key>temp</key>
                <real>291.06</real>
                <key>temp_max</key>
                <real>292.14999999999998</real>
                <key>temp_min</key>
                <real>290.14999999999998</real>
            </dict>
            <key>name</key>
            <string>London</string>
            <key>sys</key>
            <dict>
                <key>country</key>
                <string>GB</string>
                <key>id</key>
                <integer>5091</integer>
                <key>message</key>
                <real>0.19500000000000001</real>
                <key>sunrise</key>
                <integer>1412143319</integer>
                <key>sunset</key>
                <integer>1412185083</integer>
                <key>type</key>
                <integer>1</integer>
            </dict>
            <key>weather</key>
            <array>
                <dict>
                    <key>description</key>
                    <string>broken clouds</string>
                    <key>icon</key>
                    <string>04d</string>
                    <key>id</key>
                    <integer>803</integer>
                    <key>main</key>
                    <string>Clouds</string>
                </dict>
            </array>
            <key>wind</key>
            <dict>
                <key>deg</key>
                <integer>250</integer>
                <key>speed</key>
                <real>3.6000000000000001</real>
            </dict>
        </dict>
        <key>Paris</key>
        <dict>
            <key>base</key>
            <string>cmc stations</string>
            <key>clouds</key>
            <dict>
                <key>all</key>
                <integer>0</integer>
            </dict>
            <key>cod</key>
            <integer>200</integer>
            <key>coord</key>
            <dict>
                <key>lat</key>
                <real>48.850000000000001</real>
                <key>lon</key>
                <real>2.3500000000000001</real>
            </dict>
            <key>dt</key>
            <integer>1412160830</integer>
            <key>id</key>
            <integer>2988507</integer>
            <key>main</key>
            <dict>
                <key>humidity</key>
                <integer>68</integer>
                <key>pressure</key>
                <integer>1027</integer>
                <key>temp</key>
                <real>293.73000000000002</real>
                <key>temp_max</key>
                <real>294.14999999999998</real>
                <key>temp_min</key>
                <real>293.14999999999998</real>
            </dict>
            <key>name</key>
            <string>Paris</string>
            <key>sys</key>
            <dict>
                <key>country</key>
                <string>FR</string>
                <key>id</key>
                <integer>5610</integer>
                <key>message</key>
                <real>0.0152</real>
                <key>sunrise</key>
                <integer>1412142648</integer>
                <key>sunset</key>
                <integer>1412184566</integer>
                <key>type</key>
                <integer>1</integer>
            </dict>
            <key>weather</key>
            <array>
                <dict>
                    <key>description</key>
                    <string>Sky is Clear</string>
                    <key>icon</key>
                    <string>01d</string>
                    <key>id</key>
                    <integer>800</integer>
                    <key>main</key>
                    <string>Clear</string>
                </dict>
            </array>
            <key>wind</key>
            <dict>
                <key>deg</key>
                <integer>270</integer>
                <key>speed</key>
                <real>1.5</real>
                <key>var_beg</key>
                <integer>230</integer>
                <key>var_end</key>
                <integer>320</integer>
            </dict>
        </dict>
        <key>Toronto</key>
        <dict>
            <key>base</key>
            <string>cmc stations</string>
            <key>clouds</key>
            <dict>
                <key>all</key>
                <integer>90</integer>
            </dict>
            <key>cod</key>
            <integer>200</integer>
            <key>coord</key>
            <dict>
                <key>lat</key>
                <real>43.700000000000003</real>
                <key>lon</key>
                <real>-79.420000000000002</real>
            </dict>
            <key>dt</key>
            <integer>1412157600</integer>
            <key>id</key>
            <integer>6167865</integer>
            <key>main</key>
            <dict>
                <key>humidity</key>
                <integer>87</integer>
                <key>pressure</key>
                <integer>1017</integer>
                <key>temp</key>
                <real>288.17000000000002</real>
                <key>temp_max</key>
                <real>289.14999999999998</real>
                <key>temp_min</key>
                <real>287.14999999999998</real>
            </dict>
            <key>name</key>
            <string>Toronto</string>
            <key>sys</key>
            <dict>
                <key>country</key>
                <string>CA</string>
                <key>id</key>
                <integer>3721</integer>
                <key>message</key>
                <real>0.0178</real>
                <key>sunrise</key>
                <integer>1412162158</integer>
                <key>sunset</key>
                <integer>1412204294</integer>
                <key>type</key>
                <integer>1</integer>
            </dict>
            <key>weather</key>
            <array>
                <dict>
                    <key>description</key>
                    <string>overcast clouds</string>
                    <key>icon</key>
                    <string>04n</string>
                    <key>id</key>
                    <integer>804</integer>
                    <key>main</key>
                    <string>Clouds</string>
                </dict>
            </array>
            <key>wind</key>
            <dict>
                <key>deg</key>
                <integer>50</integer>
                <key>speed</key>
                <real>3.1000000000000001</real>
            </dict>
        </dict>
    </dict>
</plist>
