<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Chicago</key>
        <dict>
            <key>base</key>
            <string>cmc stations</string>
            <key>clouds</key>
            <dict>
                <key>all</key>
                <integer>20</integer>
            </dict>
            <key>cod</key>
            <integer>200</integer>
            <key>coord</key>
            <dict>
                <key>lat</key>
                <real>41.850000000000001</real>
                <key>lon</key>
                <real>-87.650000000000006</real>
            </dict>
            <key>dt</key>
            <integer>1412019900</integer>
            <key>id</key>
            <integer>4887398</integer>
            <key>main</key>
            <dict>
                <key>humidity</key>
                <integer>45</integer>
                <key>pressure</key>
                <integer>1015</integer>
                <key>temp</key>
                <real>300.81</real>
                <key>temp_max</key>
                <real>301.14999999999998</real>
                <key>temp_min</key>
                <real>300.14999999999998</real>
            </dict>
            <key>name</key>
            <string>Chicago</string>
            <key>sys</key>
            <dict>
                <key>country</key>
                <string>US</string>
                <key>id</key>
                <integer>961</integer>
                <key>message</key>
                <real>0.099199999999999997</real>
                <key>sunrise</key>
                <integer>1411991165</integer>
                <key>sunset</key>
                <integer>1412033717</integer>
                <key>type</key>
                <integer>1</integer>
            </dict>
            <key>weather</key>
            <array>
                <dict>
                    <key>description</key>
                    <string>few clouds</string>
                    <key>icon</key>
                    <string>02d</string>
                    <key>id</key>
                    <integer>801</integer>
                    <key>main</key>
                    <string>Clouds</string>
                </dict>
            </array>
            <key>wind</key>
            <dict>
                <key>deg</key>
                <integer>290</integer>
                <key>gust</key>
                <real>7.7000000000000002</real>
                <key>speed</key>
                <real>5.7000000000000002</real>
            </dict>
        </dict>
        <key>London</key>
        <dict>
            <key>base</key>
            <string>cmc stations</string>
            <key>clouds</key>
            <dict>
                <key>all</key>
                <integer>0</integer>
            </dict>
            <key>cod</key>
            <integer>200</integer>
            <key>coord</key>
            <dict>
                <key>lat</key>
                <real>51.509999999999998</real>
                <key>lon</key>
                <real>-0.13</real>
            </dict>
            <key>dt</key>
            <integer>1412020070</integer>
            <key>id</key>
            <integer>2643743</integer>
            <key>main</key>
            <dict>
                <key>humidity</key>
                <integer>82</integer>
                <key>pressure</key>
                <integer>1020</integer>
                <key>temp</key>
                <real>288.94</real>
                <key>temp_max</key>
                <real>290.14999999999998</real>
                <key>temp_min</key>
                <real>288.14999999999998</real>
            </dict>
            <key>name</key>
            <string>London</string>
            <key>sys</key>
            <dict>
                <key>country</key>
                <string>GB</string>
                <key>id</key>
                <integer>5091</integer>
                <key>message</key>
                <real>0.1013</real>
                <key>sunrise</key>
                <integer>1411970323</integer>
                <key>sunset</key>
                <integer>1412012556</integer>
                <key>type</key>
                <integer>1</integer>
            </dict>
            <key>weather</key>
            <array>
                <dict>
                    <key>description</key>
                    <string>haze</string>
                    <key>icon</key>
                    <string>50n</string>
                    <key>id</key>
                    <integer>721</integer>
                    <key>main</key>
                    <string>Haze</string>
                </dict>
                <dict>
                    <key>description</key>
                    <string>mist</string>
                    <key>icon</key>
                    <string>50n</string>
                    <key>id</key>
                    <integer>701</integer>
                    <key>main</key>
                    <string>Mist</string>
                </dict>
            </array>
            <key>wind</key>
            <dict>
                <key>deg</key>
                <integer>220</integer>
                <key>speed</key>
                <real>3.1000000000000001</real>
            </dict>
        </dict>
        <key>Minsk</key>
        <dict>
            <key>base</key>
            <string>cmc stations</string>
            <key>clouds</key>
            <dict>
                <key>all</key>
                <integer>75</integer>
            </dict>
            <key>cod</key>
            <integer>200</integer>
            <key>coord</key>
            <dict>
                <key>lat</key>
                <real>53.899999999999999</real>
                <key>lon</key>
                <real>27.57</real>
            </dict>
            <key>dt</key>
            <integer>1412020806</integer>
            <key>id</key>
            <integer>625144</integer>
            <key>main</key>
            <dict>
                <key>humidity</key>
                <integer>82</integer>
                <key>pressure</key>
                <integer>1020</integer>
                <key>temp</key>
                <real>286.86000000000001</real>
                <key>temp_max</key>
                <real>287.08999999999997</real>
                <key>temp_min</key>
                <real>286.14999999999998</real>
            </dict>
            <key>name</key>
            <string>Minsk</string>
            <key>sys</key>
            <dict>
                <key>country</key>
                <string>BY</string>
                <key>id</key>
                <integer>7378</integer>
                <key>message</key>
                <real>0.0241</real>
                <key>sunrise</key>
                <integer>1411963723</integer>
                <key>sunset</key>
                <integer>1412005867</integer>
                <key>type</key>
                <integer>3</integer>
            </dict>
            <key>weather</key>
            <array>
                <dict>
                    <key>description</key>
                    <string>broken clouds</string>
                    <key>icon</key>
                    <string>04n</string>
                    <key>id</key>
                    <integer>803</integer>
                    <key>main</key>
                    <string>Clouds</string>
                </dict>
            </array>
            <key>wind</key>
            <dict>
                <key>deg</key>
                <integer>250</integer>
                <key>speed</key>
                <integer>2</integer>
                <key>var_beg</key>
                <integer>190</integer>
                <key>var_end</key>
                <integer>300</integer>
            </dict>
        </dict>
    </dict>
</plist>
